body {
    background-image: url("./assets/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.centered {
    margin: auto;
    width: 50%;
}

.centeredText {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-family: 'Poppins', sans-serif;
}
