body {
    background-color: #462D1F;
}

.centeredText {
    margin: auto;
    width: 50%;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-family: 'Poppins', sans-serif;
}
